table{
    border-radius: 2px;
    overflow: hidden;
    border-collapse: collapse;
}
td {
    position: relative;
}
tr:nth-child(2n) {
    background: rgba(232, 248, 255, 0.79);
}

tr:hover {
    background: #d0d0d0;
}
td:hover::before {
    content: '';
    position: absolute;
    background-color: #d0d0d0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -1;
}
button {
    display: none;
}
form:valid button {
    display: inline;
}
td {
    position: relative;
}
#inp_come[value="come_fly"]:checked ~ table tr[value="out"],
#inp_out[value="out_fly"]:checked ~ table tr[value="come"],
#city[value="Аэрофлот"] ~ table tr[name="Трансаэро"],
#city[value="Аэрофлот"] ~ table tr[name="Уральские авиалинии"],
#city[value="Трансаэро"] ~ table tr[name="Аэрофлот"],
#city[value="Трансаэро"] ~ table tr[name="Уральские авиалинии"],
#city[value="Уральские авиалинии"] ~ table tr[name="Аэрофлот"],
#city[value="Уральские авиалинии"] ~ table tr[name="Трансаэро"] {
    display: none;
}
